body{
    background: rgb(138, 3, 131);
}

#lojas{
    width:100%;
    height:650% px;
}

h1{
    text-align: center;
    background:rgb(139, 6, 117) ;
}

p{
    text-align: center;
    background: rgb(122, 231, 146);
}

strong{
    color: aquamarine;
}

#especial{
    font-size: 20pt;
}

.itens {
    font-style: italic;
}
